<% content_for(:products) do %>
<div class="dropdown">
  <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Genres
    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% if @products.any? %>
      <% @products.each do |product| %>
        <p class="dropdown-item"><%= link_to product.name, product_path(product) %></p>
      <% end %>
    <% else %>
      <p>There are no Products!!!!</p>
    <% end %>
  </div>
</div>
<% end %>
<% content_for(:navbar) do %>
  <li><%= link_to "Add Product", new_product_path %></li>
  <li><a href="#" id="admin">Admin</a></li>
<% end %>



<h2>Recent Products</h2>
<% @three_recent_products.each do |product| %>
  <ul>
    <li><%= link_to product.name, product_path(product) %></li>
  </ul>
<% end %>

<h2>Most Reviewed Product</h2>
<p><%= link_to @most_reviewed_product.name, product_path(@most_reviewed_product) %></p>

<h2>USA Products</h2>
<% if @usa_products.any? %>
  <% @usa_products.each do |product| %>
    <ul>
      <li><%= link_to product.name, product_path(product) %></li>
    </ul>
  <% end %>
<% else %>
  <p>USA products coming soon!!!</p>
<% end %>
