<% content_for(:products) do %>
<div class="dropdown">
  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Mario's Products
    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% if @products.any? %>
      <% @products.each do |product| %>
        <p class="dropdown-item"><%= link_to product.name, product_path(product) %></p>
      <% end %>
    <% else %>
      <p>There are no Products!!!!</p>
    <% end %>
  </div>
</div>
<% end %>

<% if current_user && current_user.admin %>
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li><a href="#"><%= link_to "Add Product", new_product_path %></a></li>
    </ol>
  </nav>
<% end %>

<div class="row well recent_products">
  <h2>Recent Products</h2>
  <ul>
    <% @three_recent_products.each do |product| %>
      <div class="col-md-4">
        <li class="well">
          <img src="<%=product.image%>" alt="">
          <h4><%= link_to product.name, product_path(product) %></h4>
        </li>
      </div>
    <% end %>
  </ul>
</div>



<h2>Most Reviewed Product</h2>
<% if @most_reviewed_product %>
  <img src="<%=@most_reviewed_product.image%>" alt="">
  <h4><%= link_to @most_reviewed_product.name, product_path(@most_reviewed_product) %></h4>
<% end %>



<div class="row well usa_products">
  <h2>USA Products</h2>
  <% if @usa_products.any? %>
  <ul>
    <% @usa_products.each do |product| %>
      <div class="col-md-6">
        <li>
          <%= link_to product.name, product_path(product) %>
        </li>
      </div>
    <% end %>
  </ul>
  <% else %>
  <p>USA products coming soon!!!</p>
  <% end %>
</div>
