<!DOCTYPE html>
<html>
  <head>
    <title>MarioProducts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/">Mario's Amazing Products</a>
        </div>
        <ul class="nav navbar-nav navbar-left">

          <li> <%= yield(:products) %> </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><a href="#" id="admin">Admin</a></li>
            <li><a href="#"> | <%=current_user.email %></a></li>
            <li><%= link_to " | Sign out", '/signout' %></li>
          <% else %>
            <li><%= link_to "Sign up | ", 'signup' %></li>
            <li><%= link_to "Sign in", '/signin' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">


      <% if flash[:notice] != nil %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] != nil %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
